---
layout: default
title: "Stránka Nenalezena"
permalink: /404.html
---

<main class="not-found">
<h1>Stránka nebyla nalezena</h1>


{% assign home = '/' %}
<p>Zkuste se vrátit na <a href="{{home | prepend: site.baseurl }}">hlavní stránku</a>.</p>
</main>
