---
layout: default
title: Modrobílá Stránka
is_home: true
---

<main class="home">
  {% include intro.html %}
  <ul class="posts">
    {% for post in site.posts %}
      <li>
      <time class="dt-published" datetime="{{ post.date | date: "%F %R"}}">{{ post.date | date: "%-d. %-m. %Y" }}</time>
      <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </li>
    {% endfor %}
  </ul>
</main>
