@charset "UTF-8";
/*
 * Stylesheet based on Typeplate by Dennis Gaebel (@gryghostvisuals) and Zachary Kain (@zakkain)
 * http://typeplate.com
 *
 * License: Creative Commmons Attribution 3.0
 * License URL: http://creativecommons.org/licenses/by/3.0
 */

html {
  font: normal 112.5% / 1.65 sans-serif; /* base font size 16px with 1.65 line-height */
}

@media only screen and (min-width: 49em) {
  html {
    font-size: 1.33333em; /* ~ 24px */
  }
}

body {
  background-color: #fff;
  color: #333;

  margin: 0;
  padding: 2em 1em 3em;

  font-family: -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;

  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  word-wrap: break-word;
}

/************************
 Links
 ************************/

a {
  text-decoration: underline;
}
a:link {
  color: #404aa1;
}
a:visited {
  color: #404aa1;
}


a:hover {
  color: #000840;
}

a.footnote,
a.reversefootnote {
  text-decoration: none;
}

/**************************
 Headings
 **************************/

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
  margin-top: 0;
  text-rendering: optimizeLegibility;
  color: #222;
  font-weight: normal;
}

h1 {
  font-size: 2em;
  margin-bottom: 1.21212rem;
}

h2 {
  font-size: 1.33333em;
  margin-bottom: 0.80808rem;
}

h3 {
  font-size: 1.16667em;
  margin-bottom: 0.70707rem;
}

h4 {
  font-size: 1em;
  margin-bottom: 0.60606rem;
}

/**************************
 Hyphens override
 **************************/
abbr,
acronym,
blockquote,
code,
dir,
kbd,
listing,
plaintext,
q,
samp,
tt,
var,
xmp {
  /* Accepted values: [ none | manual | auto ] */ /* http://meyerweb.com/eric/thoughts/2012/12/17/where-to-avoid-css-hyphenation */
  -webkit-hyphens: none; /* Safari 5.1 thru 6, iOS 4.2 thru 6 */
  -ms-hyphens: none; /* IE10 */
  hyphens: none; /* W3C standard */
}

/**************************
 Typography
 **************************/

abbr {
  border-bottom: thin dotted;
}

@supports (text-decoration-style: dotted) {
  abbr {
    border-bottom: unset;
    text-decoration: underline dotted;
  }
}

small {
  /*font-size: 75%;*/
  line-height: 1;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}

q {
  quotes: '„' '“' '‚' '‘';
  font-style: italic;
}
q:before {
  content: open-quote;
}
q:after {
  content: close-quote;
}

p {
  margin: auto auto 1.5em; /* bottom margin for paragraphs */
}

/*p + p {
  text-indent: 1.5em;
  margin-top: -1.5em;
}*/

pre code {
  word-wrap: normal;
  white-space: -moz-pre-wrap;
  white-space: pre-wrap; /* http://css-tricks.com/almanac/properties/w/whitespace */
}

pre {
  white-space: pre;
}

code {
  white-space: pre;
  font-family: monospace;
}

ins {
  text-decoration: none;
  font-style: italic;
}

/******************
 Block level stuff
 ******************/

img,
video {
  max-width: 100%;
}

iframe {
  border: 0;
}

ul,
ol {
  list-style-position: outside;
  margin: 0.875em 0 1.75em;
  padding-left: 1em;
}

ul {
  list-style-type: disc;
}

li {
  margin: 0;
}

hr {
  width: 80%;
  margin: 0 auto 1em auto;
  border: 0;
  border-top: thin solid #aaa;
}

table {
  border-collapse: collapse;
  margin-bottom: 0.875em;
}

td,
th {
  font-size: 1em;
  border: thin solid #999;
  text-align: left;
  line-height: 1.2;
}

thead th {
  vertical-align: bottom;
}

@media only screen and (min-width: 35em) {
  td,
  th {
    padding: 0.2em 0.3em;
  }
}

/*******************
 Quotes, Figures et al.
 *******************/

figure,
blockquote {
  margin: 1.5em 1em;
}

figure.full,
figure figure {
  margin-left: 0;
  margin-right: 0;
}

figcaption {
  font-style: italic;
}

@media only screen and (min-width: 35em) {
  figure,
  blockquote {
    margin: 1.5em 2em;
  }
}

figure p {
  margin: 0;
}

figure > blockquote {
  margin: 0;
}

blockquote p:last-of-type {
  margin-bottom: 0.875em;
}

blockquote footer {
  display: block;
  font-size: inherit;
  text-align: right;
}

figure img,
.figure img,
figure svg,
img.figure {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.embed {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 1rem;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  height: auto;
}

.embed iframe,
.embed object {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

@media (min-width: 35em) {
  .figure-left,
  .figure-right {
    max-width: 25%;
  }

  .figure-left {
    float: left;
    margin: 0 1rem 0 0;
  }

  .figure-right {
    float: right;
    margin: 0 0 0 1rem;
  }
}
/*****************************************************************************/
/* Site
/*****************************************************************************/

.site {
  max-width: 32em;
  margin: 0 auto;
}

.site-intro [rel='author'] {
  white-space: nowrap;
}

@media only screen and (min-width: 35em) {
  .site-intro,
  .post-footer-nav {
    margin-left: -1em;
  }
}

.posts {
  list-style: none;
  padding-left: 0;
}

.posts time {
  color: #aaa;
  display: block;
}

.posts {
}

.site-footer {
  padding-top: 3em;
  text-transform: lowercase;
}

.site-footer a {
  margin-right: 2em;
  color: #aaa;
}

#post-footer a{
  color: #254fbd;
}

.site-footer strong {
  color: #000840;
  font-weight: normal;
  text-decoration: underline;
}

/****************************
 * Pages
 ****************************/

@media only screen and (min-height: 47em) {
  .post,
  .not-found {
    padding-top: 2em;
  }
}

/****************************
 * Post
 ****************************/

.post-meta {
  color: #aaa;
}

.post-title,
.post-subtitle {
  margin-bottom: 0.5rem;
}

/****************************
 * Footnotes
 ****************************/

/*blockquote footer cite:before {
  content: "—";
}*/

/*.footnotes {
  margin-top: 3em;
}*/

.footnotes:before {
  display: block;
  content: ' ';
  width: 100%;
  margin: 2em auto;
  border-top: thin solid #aaa;
}

.footnotes li:target {
  background-color: #ff0;
}

/****************************
 * Content specific
 ****************************/

.intro-note {
  font-style: italic;
}
