<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width">
  <link rel="author" href="{{ site.author_uri }}">
  <link rel="stylesheet" href="/des/main.css">
  <link rel="stylesheet" href="/des/print.css" media="print">
  <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🇦🇶</text></svg>">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="/feed.xml">
  <link rel="alternate" type="application/atom+xml" title="{{ site.title }} (pouze úryvky)" href="/excerpts.atom">
  <link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html',''}}">
  {% if page.description %}
  <meta name="description" content="{{ page.description }}">
  {% elsif page.subtitle %}
  <meta name="description" content="{{ page.subtitle }}">
  {% endif %}
  {{ page.dependencies_head }}
</head>
<body>

  <div class="site">
    {{ content }}
    <footer class="site-footer">
      {% if page.url != "/" %}
      <nav id="post footer" class="post-footer-nav">
      	{% assign home = '/' %}
        <a href="{{home | prepend: site.baseurl }}" rel="home" title="Přejít na hlavní stránku"><strong>{{ site.title }}</strong></a>
      {% else %}
      <nav>
      {% endif %}
      	{% assign feed = '/feed.xml' %}
        <a class="footer-nav-link" href="{{ feed | prepend: site.baseurl }}" rel="alternate home">RSS</a>
        <a class="footer-nav-link" href="https://github.com/jnv/bitoff.cz" rel="source">kód</a>
      </nav>
    </footer>
  </div>

  {{ page.dependencies }}

</body>
</html>
